.tour-container {
  padding: 60px 0;
  .vidieo-div {
    height: 454px;
    background: #acd0f4;
    border-radius: 20px;
    backround: url("../../assets/images/video-bg.svg");
  }
  h1 {
    font-size: 55px;
    color: #707070;
    margin-bottom: 40px;
  }
  span {
    font-size: 60px;
    color: #c90e0e;
  }
  p {
    font-size: 20px;
    color: #707070;
    font-family: helveticaM;
  }
}
