.tour-container {
  margin-top: 60px;
  // margin-bottom: 90px;
  .vidieo-div {
    height: 454px;
    padding-top: 100px;
    background-image: url("../../assets/images/vidieo-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -130px 10px;
    margin-bottom: 150px;
    @media screen and (max-width: 620px) {
      padding-top: 50px;
      margin-bottom: 0px;
    }
    .video-inner {
      height: 380px;
      // background-color: #acd0f4;
      border-radius: 20px;
    }
    img {
      width: 100%;
    }
  }
  h1 {
    font-size: 55px;
    color: #707070;
    margin-bottom: 40px;
    @media screen and (max-width: 620px) {
      text-align: center;
    }
  }
  span {
    font-size: 60px;
    color: #c90e0e;
  }
  p {
    font-size: 20px;
    color: #707070;
    font-family: helveticaM;
    @media screen and (max-width: 620px) {
      text-align: center;
    }
  }
}
