.centered {
  top: 80%;
  left: 20%;
  h1 {
    // color: #343333;
  }
}
.who-we-are {
  padding: 150px 0;
  h1 {
    color: #707070;
    margin-bottom: 30px;
  }
  p {
    font-size: 20px;
  }
}
.birthright-div2 {
  background: url("../../assets/images/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;

  margin: 100px 0;
  color: #707070;
  p {
    font-family: helveticaM;
    margin-bottom: 100px;
  }
  .img-div {
    height: 487px;
    border-radius: 10px;
    background: #d4e3f2;
  }
}
.flitered {
  backdrop-filter: blur(1000px);
  padding: 60px 0;
}
