.footer-container {
  padding: 80px 0;
  font-family: helveticaM;
  border-bottom: solid 1px #ebe5e5;
  color: #343333;
  @media screen and (max-width: 620px) {
    padding: 80px 10px;
  }
  h5 {
    font-size: 18px !important;
    font-family: helveticaM;
    margin-bottom: 20px;
    color: #343333;
    @media screen and (max-width: 620px) {
      text-align: center;
    }
  }
  ul li {
    color: #343333;
  }
  .logo-div {
    p {
      margin-top: 20px;
      margin-bottom: 70px;
      font-size: 14px;
    }
  }
  .link-div {
    .app-link {
      color: #343333;
      text-decoration: none;
      font-family: helveticaM;
    }
  }
  .footer-contact {
    img {
      margin-right: 20px;
    }
    .footer-link {
      color: #343333;

      font-family: helveticaM;
    }
  }
}
.footer-credits {
  padding: 20px 0px;
  font-family: helveticaR;
  color: #797777;

  .first-para {
    flex-grow: 1;
    font-size: 13px;
  }
}
