.iec-container {
  background: #fafafa;
  .what-we-do {
    background: #fff;
    height: 204px;
    padding: 40px 0;
    margin-top: 35px;
    margin-bottom: 55px;
    @media screen and (max-width: 620px) {
      height: fit-content;
    }
    p {
      font-size: 15px;
    }
  }
  h3 {
    margin-top: 50px;
  }
  h1 {
    margin-bottom: 40px;
  }
  button {
    margin-top: 20px;
  }
  a {
    color: #707070;
    font-family: helveticaM;
    text-decoration: none;
    font-size: 16px;
  }
  ul li {
    img {
      margin-right: 10px;
    }
  }
}
.iec-btn {
  @media screen and (max-width: 620px) {
    margin: 50px 0;
  }
}
.iec-list {
  margin-left: 10px;
  img {
    width: 2%;
    @media screen and (max-width: 620px) {
      width: 10%;
    }
  }
}
