@import "../../variables";
@import "../../shared-styles";

.nav-container {
  display: flex;
  padding-top: 20px;
  position: relative;
  z-index: 2 !important;
  padding-bottom: 0;
  height: 100px;
  background-color: #fff !important;
  ul li {
    margin-top: 0px !important;
  }
  .nav-btn {
    @include app-btn;
    padding: 8px 40px;
    // margin-top: 0 !important;
    border: none;
    @media screen and (max-width: 620px) {
      display: none;
    }
  }
  .tech-logo-div {
    flex-grow: 1 !important;
    margin-top: -10px;
  }
  .tech-links {
    color: #000;
    text-decoration: none;
    font-family: helveticaM;
    margin: 0px 28px !important;
    &:hover {
      color: $red;
    }
    @media screen and (max-width: 620px) {
      display: none;
    }
  }
}
/*side bar*/

.wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  // transform: translate(-50%, -50%);
  background: red;
}
.mainMenu {
  width: 250px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
.mainMenu a {
  font-size: 20px !important;
  font-weight: bold !important;
  font-family: monserat;
  /* margin-bottom:-20px; */
}
.item {
  border-top: 1px solid rgb(255, 255, 255);
  overflow: hidden;
  margin: top 0;
  line-height: 20px !important;
}
.btn {
  display: block;
  padding: 15px 20px;
  color: #fff;
  position: relative;
  padding-left: 5px !important;
  /* text-align:left !important; */
}
.btn:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  /* border-top:10px solid rgba(0,128,0,0.9); */
  right: 15px;
  bottom: -10px;
  z-index: 9;
}
.btn i {
  margin-right: 7px;
  margin-left: -5px;
  font-size: 13px;
}
.subMenu {
  overflow: hidden;
  background-color: rgb(106, 212, 103) !important;

  transition: max-height 0.7s;
  max-height: 0;
  z-index: 300000000 !important;
  position: relative !important;
}
.subMenu a {
  display: block;
  /* padding: 5px 10px !important; */
  color: #fff !important;
  font-size: 14px !important;
  border-bottom: 1px solid #394c7f;
  position: relative;
  margin-top: 5px !important;
  font-weight: bold !important;
}
.subMenu a:before {
  content: "";
  opacity: 0;
  transition: opacity 0.3s;
}
.subMenu a:hover:before {
  content: "";
  position: absolute;
  height: 0;
  width: 6px;
  left: 0;
  top: 0;
  opacity: 1;
  /* background-color: #d8d824; */
  border-top: 24px solid transparent;
  border-left: 11px solid #ffffff;
  border-bottom: 24px solid transparent;
}
.subMenu a:after {
  content: "";
  opacity: 0;
  transition: opacity 0.3s;
}
.subMenu a:hover:after {
  content: "";
  position: absolute;
  height: 0;
  width: 6px;
  right: 0px;
  top: 0;
  opacity: 1;
  /* background-color: #d8d824; */
  border-top: 24px solid transparent;
  border-right: 11px solid #ffffff;
  border-bottom: 24px solid transparent;
}
.subMenu a:hover {
  background-color: rgb(255, 255, 255);
  transition: all 0.3s;
  border-bottom: 2px solid #394c7f;
}
.subMenu a:last-child {
  border: none;
}
.item:target .subMenu {
  max-height: 300px;
  /* transition: max-height 0.7s !important; */
}

.login {
  background-color: #ed2f59;
  padding: 5px 14px 5px 14px !important;
  border-radius: 5px;
  margin-right: 55px;
  margin-left: 30px;
  font-family: "Poppins", sans-serif;
}

.portal {
  background-color: white;
  width: 120px;
  margin-left: 50px;
  padding: 7px !important;
  color: rgb(31, 71, 17) !important;
  margin-top: 20px !important;
  font-size: 5px !important;
  text-decoration: none;
  border-radius: 35px;
}

.port button {
  background-color: white !important;
}

.portal a {
}
