@import "../../variables";
@import "../../shared-styles";
.tech-logo {
  margin-top: -50px;
}
.nav-container {
  display: flex;
  padding-top: 20px;
  position: relative;
  z-index: 2 !important;
  padding-bottom: 0;
  height: 70px;
}
.nav-btn {
  @include app-btn;
  padding: 8px 40px;
  // margin-top: 0 !important;
  border: none;
}
.tech-logo-div {
  flex-grow: 1 !important;
}
.tech-links {
  color: #000;
  text-decoration: none;
  font-family: rebondG-Semi-Bold;
  margin: 20px !important;
  &:hover {
    color: $red;
  }
}
.cool-link::after {
  content: "";
  display: block;
  width: 0;
  margin-left: 11px;
  height: 4px;
  background: #f91817;
  transition: width 0.3s;
  position: relative;
  z-index: 300000000000000;
}

.cool-link:hover::after {
  width: 100%;
}
