@import "../../variables";
@import "../../shared-styles";
.landing-img {
  position: relative;
  text-align: left;
  color: #fff;
  height: 800px;
  background-color: grey;
}
.centered {
  position: absolute;
  top: 50%;
  left: 20%;

  transform: translate(-50%, -50%);
  h1 {
    font-size: 114px !important;
  }
}
.welcome-header {
  color: #707070;

  h1 {
    font-size: 60px;
  }
}
.welcome-paragraph {
  p {
    color: #707070;
    font-family: helveticaM;
  }
}
.welcome-div {
  height: 800px;
  background: url("../../assets/images/curly.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.section-div {
  margin-top: -280px;

  h1 {
    font-size: 60px;
    color: #707070;
  }
}
.sections-container {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  border-radius: 10px;
  height: 358px;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.early-years {
  background: #ff5252;
  color: #fff;
}
.primary {
  background: #f2e15f;
  color: #000;
}
.special {
  background: #838383;
  color: #fff;
}
.junior {
  background: #2ebbef;
  color: #fff;
}
.senior {
  background: #30eaa9;
  color: #000;
}
.birthright-div {
  background: url("../../assets/images/pink-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  margin: 100px 0;
  h1 {
    margin-bottom: 20px;
  }
  span {
    color: $red;
    font-size: 60px;
  }
  color: #707070;
  p {
    font-family: helveticaM;
    margin-bottom: 100px;
  }
  .img-div {
    height: 150px;
    border-radius: 10px;
    background: #fff;
  }
}
