.landing-img {
  position: relative;
  text-align: left;
  color: #fff;
  height: 800px;
  background-color: grey;
}
.centered {
  position: absolute;
  top: 50%;
  left: 20%;

  transform: translate(-50%, -50%);
  h1 {
    font-size: 114px !important;
  }
}
.welcome-header {
  color: #707070;

  h1 {
    font-size: 60px;
  }
}
.welcome-paragraph {
  p {
    color: #707070;
    font-family: helveticaM;
  }
}
.welcome-div {
}
