@import "../../../variables";
@import "../../../shared-styles";
.special-edu {
  margin-bottom: 20px;
  background: #fafafa;
  .img-div {
    height: 365px;
    background: #d4e3f2;
    border-radius: 20px;
  }
}
.apply-link {
  color: $red;
}
.apply-div {
  background: #fff;
  padding-top: 1px;
  height: 86px;

  p {
    line-height: 0;
    margin-bottom: 10px;
  }
  margin-bottom: 70px;
}
