@import "../../../variables";
@import "../../../shared-styles";

.eyfs-div {
  p {
    color: #707070;
    margin: 40px 0;
    line-height: 30px;
  }
  .apply-link {
    color: $red;
  }
  .apply-div {
  }
}
.eyfs-body {
  background: #fafafa;
}
