.prefooter-container {
  // background-color: #414040d5;
  // padding: 70px 0;

  position: relative;
  background-size: cover;
  button {
    padding: 15px 0;
    font-size: 20px;
    font-family: helveticaM;
  }

  span {
    font-size: 60px;
    color: #f2e15f;
  }
  .prefooter-btn {
    margin: 50px 50px !important;
  }
}
.prefooter-innner {
  height: 100%;
  position: absolute;
  background: #414040d5;
  // background: rgba(11, 11, 11, 0.8);
  top: 0%;
  left: 0%;
  h1 {
    margin-top: 80px;
    font-size: 55px;
    color: #fff;
  }
}
