.prefooter-container {
  background: #707070;
  padding: 70px 0;
  background-image: url("../../assets/images/suited.png");
  button {
    padding: 15px 0;
    font-size: 20px;
    font-family: helveticaM;
  }
  h1 {
    font-size: 55px;
    color: #fff;
  }
  span {
    font-size: 60px;
    color: #f2e15f;
  }
  .prefooter-btn {
    margin: 50px 50px !important;
  }
}
