@import "../../../variables";
@import "../../../shared-styles";

.lib-dashboard-display-carousel {
  .carousel {
    position: relative;
    z-index: 0;
  }

  .center-dashboard {
    @media screen and (max-width: 620px) {
      margin-left: 0px;
    }
  }
  .wing-imgs2 {
    max-height: 400px;
    width: 350px;
    overflow: hidden;
    margin-top: 60px;
    margin-left: 130px;
    img {
      height: 90%;
    }
    @media screen and (max-width: 620px) {
      display: none !important;
    }
  }
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: fit-content;

    padding-top: 0px !important;

    h2 {
      margin-top: 140px;
      margin-bottom: 40px;
    }
  }

  .imgCaro {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carousel-control-next-icon {
    background-image: url("../../../assets/images/right.png");
    margin-top: 450px !important;
    position: relative !important;
    height: 46px !important;
    width: 46px !important;
    margin-left: -850% !important;
  }
  .carousel-control-prev-icon {
    background-image: url("../../../assets/images/right.png");
    margin-top: 450px !important;
    transform: rotate(180deg);
    height: 46px !important;
    width: 46px !important;
    margin-left: -100% !important;
  }

  .carousel-control-prev {
    left: 10% !important;
  }
  .carousel-control-next {
    right: 10% !important;
  }
  .carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
    background-color: #f2e15f !important;
    transition: all 0.5s linear;
    display: inline !important;
    opacity: 0.7;
  }
  .carousel-indicators > button.active {
    opacity: 1;
    width: 20px !important;

    height: 10px !important;
    // margin-top: 8px !important;
    outline: none;
    border: none;
  }
  .carousel-indicators {
    margin-left: -57% !important;
    top: 77% !important;
  }
}
